* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--space-xl);
  background-color: var(--color-primary);
}

.header a {
  text-decoration: none;
  color: var(--color-white);
}

.nav {
  margin-left: auto;
  align-items: center;
}

.nav li {
  display: inline-block;
  font-size: var(--font-size-sm);
}

.nav a {
  padding-left: var(--space-lg);
}

.nav a:hover {
  color: var(--color-light);
}

.nav .user {
  display: none;
}

.nav .avatar {
  background-color: var(--color-light);
  color: var(--color-primary);
}

/* Hero */
.hero {
  background-color: var(--color-light);
}

.hero .grid-col {
  padding: var(--space-xl);
}

.hero .heading-1 {
  color: var(--color-dark);
}

.hero .cta {
  background-color: var(--color-secondary);
  height: var(--space-xl);
}

.hero .cta a {
  text-decoration: none;
  color: var(--color-white);
}

/* Showcase */
.showcase {
  margin: var(--space-xl);
}

.showcase .card {
  width: calc(33.333333% - var(--space-xl) * 4 / 3);
}

.showcase .card:not(:last-child) {
  margin-right: var(--space-xl);
}

/* Footer */
.footer {
  background-color: var(--color-dark);
  padding: var(--space-xl);
  margin: 0;
}

/* Pages */

/* Product Listing Page */
.products {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.products .products-filter {
  padding: var(--space-xl);
}

.products-filter h4 {
  margin: 0 0 var(--space-md);
}

.filter-container {
  margin: 0 0 var(--space-sm);
}

.filter-container .filter-heading {
  margin: 0 0 var(--space-xs);
  font-weight: var(--font-weight-semibold);
}

.filter-container .filter {
  margin: 0 0 4px;
}

/* Shopping Cart Page */
.shopping-cart {
  margin: 0;
  padding: var(--space-xl);
}

.shopping-cart-order {
  padding: var(--space-xl);
  margin-left: var(--space-xxl);
}

.shopping-cart-order .cart-heading {
  margin-bottom: var(--space-sm);
  font-weight: var(--font-weight-semibold);
}

.shopping-cart-order .order-items {
  border-bottom: 1px solid var(--color-dark);
  padding-bottom: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.shopping-cart-order .order-item,
.shopping-cart-order .order-discount,
.shopping-cart-order .order-total {
  margin-bottom: var(--space-sm);
  justify-content: space-between;
}

.shopping-cart-order .btn-secondary {
  background-color: var(--color-secondary);
  width: 100%;
  height: var(--space-xl);
  margin-top: var(--space-md);
}

/* Wishlist Page */
.wishlist {
  padding: 0 var(--space-xl);
}

.wishlist-heading {
  margin-top: var(--space-lg);
  margin-bottom: 0;
}

.wishlist-item {
  margin-right: var(--space-lg);
}

.wishlist .fa-heart {
  color: var(--color-primary);
}

.wishlist .card-action {
  position: relative;
  width: 100%;
}

.wishlist .add-to-cart-cta {
  position: absolute;
  right: var(--space-lg);
  background-color: var(--color-secondary);
}

/* Login Page */
.login,
.signup {
  margin: var(--space-lg) auto;
}

.login-heading,
.signup-heading {
  color: var(--color-secondary);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-lg);
}

.login-form,
.signup-form {
  max-width: 24rem;
  margin: 0 auto;
}

.login-form .textbox,
.signup-form .textbox {
  margin-bottom: var(--space-md);
  font-weight: var(--font-weight-semibold);
}

.login-form .btn,
.signup-form .btn {
  margin: var(--space-xs);
  width: 100%;
  height: var(--space-xl);
  background-color: var(--color-dark);
}

.login-subtext,
.signup-subtext {
  margin: var(--space-xl) auto;
}

.logout {
  min-height: 28rem;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}
